@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
    overflow-x: hidden;
}

.bold {
    font-weight: 700;
}

.padding-side {
    padding: 0 20px !important;
}

.black {
    color: black !important
}

.h1-responsive{
    font-size: calc(1em + 8vw);
    letter-spacing: 0.0500em;
}

.container-fluid {
    padding: 5% 15%;
}

.btn-lg {
    font-size: 1rem !important;
    padding: 0.5rem 2rem !important;
    border-radius: 1rem !important;
    letter-spacing: 0.0500em;
    margin: 10% 0 !important;
    background-color: #FD5657 !important;
    border-color:#FD5657 !important;
}

.btn-lg:hover {

    background-color: #C94444 !important;
    border-color:#C94444 !important;
}

.h2-responsive{
    font-size: calc(1em + 1vw);
    letter-spacing: 0.0500em;
}

.h5-responsive{
    font-size: calc(0.6em + 2vw);
    letter-spacing: 0.0500em;
}

.h6-responsive{
    font-size: calc(0.25em + 1vw);
    letter-spacing: 0.0500em;
}

.no-margin-left {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.paragraph{
    line-height: 2;
}

.circle {
    padding:10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    left: 266px;
    top: 232px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}


.red {
    background-color: "red"
}